<main class="container">
    <section class="new_quiz_header page_header">
        <h1>New Document Page</h1>
    </section>
    <section class="new_quiz_body page_body">
        <h2>Select a Unit:</h2>
        <%= form_for @quiz do |f| %>
            <%= f.collection_select :unit_id, @units, :id, :title %><br><br>
            <%= f.label :title %><br>
            <%= f.text_field :title %><br><br>
            <%= f.label :content %><br>
            <%= f.text_area :content %><br><br>
            <%= f.submit %>
        <% end %>
    </section>
</main>