<main class="container">
    <section class="show_document_header page_header">
        <h1><%= @document.title %></h1>
    </section>
    <section class="show_document_body page_body">
        <p><%= @document.content %></p>
    </section>
    <section class="show_document_footer page_footer">
        <% if is_admin? %>
            <button>
                <%= link_to "Edit This Document", edit_document_path(@document) %>
            </button>
            <br><br>
            <button>
                <%= link_to "Delete This Document", document_path(@document), method: :delete %>
            </button>
        <% end %>
        <% if is_admin? %>   
            <button>
                <%= link_to "Back to Unit", edit_unit_path(@document.unit)%>
            </button>
        <% else %>
            <button>
                <%= link_to "Back to Unit", unit_path(@document.unit)%>
            </button>
        <% end %>
    </section>
</main>