<main class="container">
    <section class="new_unit_header page_header">
        <h1>New Unit Form</h1>
    </section>
    <section class="new_unit_body page_body">
        <%= form_for @unit do |f| %>
            <%= f.label :title %><br>
            <%= f.text_field :title %><br><br>
            <%= f.label :description %><br>
            <%= f.text_field :description %><br><br>
            <%= f.submit %>
        <% end %>
    </section>
</main>