<main class="container">
    <section class="unit_show_header page_header">
        <h1><%= @unit.title %></h1>
        <p><%= @unit.description %></p>
    </section>
    <section class="unit_show_body">
        <div class="show_unit_list">
            <h2>Complete All Items:</h2>
            <% @unit.documents.each do |document| %>
                <div class="unit_items">
                    <span><%= link_to document.title, document %></span>
                    <% if DocumentResult.find_by(document_id: document.id, user_id: current_user.id) %>
                        <span>Document Completed!</span>
                    <% end %>
                </div>
            <% end %>
            <% @unit.quizzes.each do |quiz| %>
                <div class="unit_items">
                    <p><%= link_to quiz.title, quiz %></p>
                </div>
            <% end %>
        </div>
    </section>
    <section class="unit_show_footer page_footer">
        <button>
            <%= link_to "Back Home", home_path %>
        </button>
    </section>
</main>